<% include ../partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">YelpCamp</p>
                <div class="list-group">
                    <li class="list-group-item mapDiv">
                    <%= campground.location.substring(0,50) + "..." %><br>
                    <div id="map"></div>
                    </li>
                    <li class="list-group-item">
                        Future Fuzzy Search
                    </li>

                </div>
            </div>
            <div class="col-md-9">
                <!--Bootstrap Card showing image/title/description. Add button for comments-->
            <div class="card showContainer">
                <h1 class="card-title-top showTitle"><%= campground.name %></h1>
                <img class="card-img img-responsive showImg" src="<%= campground.image %>">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">$<%= campground.price %>/night</h6>
            <p class="card-text"><%= campground.description %></p>
            <h6 class="card-subtitle mb-2 text-muted">Submitted by: <%= campground.author.username %></h6>
        <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>  
            <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning">Edit</a>
            <form class="delete-btn" action="/campgrounds/<%= campground._id %>/?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
         <% } %>   
            </div>
            <div class="commentContainer">
                <% campground.comments.forEach(function(comment){ %>
                <p><strong><span class="commentAuthor"><%= comment.author.username %></span></strong>
                <span class="commentComment"><%= comment.text %></span>
                <span class="commentComment">10 days ago</span></p>
                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                <a class="btn btn-xs btn-warning" 
                href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                 <form class="delete-btn" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/?_method=DELETE" method="POST">
                    <button class="btn btn-xs btn-danger">Delete</button>
                </form>
                <% } %>
                <hr>
            <% }) %>
            <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn commentBtn">Add Comment</a>
            <p>
            <!--<a href="#" class="card-link">Card link</a>-->
            </p>
            </div>


        </div>                
            </div>
        </div>

    </div>

<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKKERZEYXYrA2_1doyTGVJBuMnzIasQ3Q&callback=initMap"></script>    
    
<% include ../partials/footer %>